/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
    body, html {
        height: 100%;
    }
    body > .container {
        min-height: 85%;
    }
    footer {
        background: #333;
        color: #7aba7b;
        font-size: 1.2em;
        padding: 20px;
        border-top: 18px solid #7aba7b;
        border-bottom: 5px solid #7aba7b;
        -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
        transition: 2s;
        height: 15%;
        min-height: 120px;
    }
    footer > #footer-about {
        padding:0;
    }
    footer #footer-about ul {
        margin: 0 40px;
        color: skyblue;
    }
    footer:hover {
        border-color: #449d44;
    }

/* --------------------------------------
   Typography
   -------------------------------------- */
    body {
        -webkit-font-smoothing: antialiased;
        text-randering: optimizelegibility;
    }
    #btn-newQ span {
        font-size: 0.8em;
    }
    .glyphicon-heart {
        color: rgba(147,112,219,0.5);
        font-size: 1.3em;
    }
    body > .container .page-header  {
        padding-top: 32px;
        padding-bottom: 0;
    }
        #regHeader h1 {
            background-color: #7aba7b;
            color: #ffffff;
            padding: 5px;
            font-size: 1.8em;
            font-family: inherit;
        }
        #regHeader small {
            color: #777777;
            font-size: 0.6em;
        }

        .page-header #helloMessage {
            color: #999999;
        }
    .well > h3 {
        margin: 7px 0 13px 0 ;
        padding-bottom: 1px;
        font-weight: bold;
        color: #5e5e5e;
        border-bottom: 3px solid #e5e5e5;
    }
        .well > h3 > span {
            color: #7aba7b;
            font-weight: normal;
        }
        .well-large p {
            font-size: 1.2em;
            color: #474949;
        }

/* --------------------------------------е
   Navbar
   -------------------------------------- */
        body > .container > .navbar {
           background: -webkit-linear-gradient(left, #c9e2b3, #7aba7b); /* For Safari 5.1 to 6.0 */
           background: -o-linear-gradient(left, #c9e2b3, #7aba7b); /* For Opera 11.1 to 12.0 */
           background: -moz-linear-gradient(left, #c9e2b3, #7aba7b); /* For Firefox 3.6 to 15 */
           background: linear-gradient(to left, #c9e2bw, #7aba7b); /* Standard syntax (must be last) */
           border-top: 2px solid #7aba7b;
           border-bottom: 6px solid #7aba7b;
           -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
           transition: 0.5s;
        }
        body > .container > .navbar:hover {
           box-shadow: 0 0 25px 1px darkgray;
        }
        body > .container > .navbar .active a {
           background-color: #dff0d8;
           color: #3a3c3c;
        }

        .navbar input {
           background-color: #dff0d8;
           border:2px solid #7aba7b;
           margin-left: 15px;
        }

        body > .container > .navbar a {
           color: dimgray;
        }
        body > .container > .navbar li > a:hover {
            color: #222222;
        }
        body > .container > .navbar .navbar-brand {
           font-size: 1.8em;
           line-height: 0.8em;
           padding: 5px 15px 5px 15px;
           color: white;
           background: #7aba7b;
           -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
           transition: 0.5s;
        }
            body > .container > .navbar .navbar-brand:hover {
               color: #fbd95b;
            }
        #searchInput {
           width: 200px;
        }
        body > .container > .navbar #user-control {
           color: dimgray;
        }
            body > .container > .navbar #user-control:hover {
                color: #222222;
            }
            body > .container > .navbar  .dropdown-menu {
                background-color: #7aba7b;
                border: 0;
                box-shadow: 0 0 15px 2px darkgray;
                border-radius: 0;
            }
            body > .container > .navbar  .dropdown-menu a {
                color: #ffffff;
            }
            body > .container > .navbar  .dropdown-menu li > a:hover, body > .container > .navbar  .dropdown-menu li > a:focus {
                background: none;
                color: #222222;
            }
        body > .container > .navbar > .container > button {
            border: 1px solid dimgray;
            box-shadow: 0 0 6px 3px dimgray inset;
            border-radius: 0;
        }
            body > .container > .navbar > .container > button > .icon-bar {
                background-color: dimgray;
            }
    /* --------------------------------------
       Carousel
       -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
    .btn {
        background-color: #fbd95b;
        border: none;
        border-radius: 0;
        color: #356635;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }
    .btn-success {
        background-color: #fbd95b;
    }
    
    #loginModal button {
        background-color: #c0c0c0;
        color: dimgray;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }
    #loginModal button:hover {
        background: #d6e9c6;
    }
        .modal-header {
            background-color: #7aba7b;
        }
        .modal.in {
            display: block;
        }
        .showAlert {
            display: block !important;
            margin-bottom: 0;
            text-align: right;
        }
    
    body > .container .btn:hover {
        background: goldenrod;
        color: #356635;

    }

    .well {
        box-shadow: 0 0 15px 1px #bce8f1;
        margin: 20px 0;
    }
    .well:hover {
        box-shadow: 0 0 25px 1px lightgray;
        cursor: pointer;
    }
    .alert {
        margin-top: 15px;
        border: 0;
        display: none;
    }
    #user {
        margin-top: 15px;
    }



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}