/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
    body > .container {
        min-height: 90%;
    }

    footer {
        background: #343;
        color: #eee;
        font-size: 11px;
        padding: 20px;
    }


/* --------------------------------------
   Typography
   -------------------------------------- */
    body {
        -webkit-font-smoothing: antialiased;
        text-randering: optimizelegibility;
    }


/* --------------------------------------е
   Navbar
   -------------------------------------- */
       body > .container > .navbar {
           background: silver;
           border-top: 2px solid #7aba7b;
           border-bottom: 6px solid #7aba7b;
           -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
           transition: 1s;
       }
       body > .container > .navbar:hover {
           box-shadow: 0 0 25px 1px darkgray;
       }
       body > .container > .navbar .active a {
           background-color: lightgray;
           color: #3a3c3c;
       }
       body > .container > .navbar a {
           color: dimgray;
       }
        body > .container > .navbar li > a:hover {
            color: #000000;
        }
       body > .container > .navbar .navbar-brand {
           font-size: 1.9em;
           line-height: 0.8em;
           padding: 4px;
           color: #ffffff;
           background: #7aba7b;
           -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
           transition: 0.5s;
       }
       body > .container > .navbar .navbar-brand:hover {
           color: #bce8f1;
       }
       #searchInput {
           width: 200px;
       }
       body > .container > .navbar #user-control {
           color:#4cae4c;
       }
        body > .container > .navbar  .dropdown-menu {
            background-color: #7aba7b;
            border: 0;
            box-shadow: 0 0 15px 2px darkgray;
            border-radius: 0;
        }
        body > .container > .navbar  .dropdown-menu a {
            color: #ffffff;
            font-weight: bold;
        }
        body > .container > .navbar  .dropdown-menu li > a:hover, body > .container > .navbar  .dropdown-menu li > a:focus {
            background: none;
            color: dimgray;
        }
        body > .container > .navbar > .container > button {
            border: 1px solid dimgray;
            box-shadow: 0 0 6px 3px dimgray inset;
            border-radius: 0;
        }
        body > .container > .navbar > .container > button > .icon-bar {
            background-color: dimgray;
        }
    /* --------------------------------------
       Carousel
       -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
    body > .container .btn {
        bottom: 30px;
        background-color: gold;
        /*background-color: #7fc6b6;*/
        border: none;
        border-radius: 0;
        color: #7aba7b;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }
    body > .container .btn:hover {
        background: goldenrod;

    }
    body > .container .page-header  {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .panel {
        box-shadow: 0 0 15px 1px #bce8f1;
        margin: 20px 0;
    }
    body > .container .panel:hover {
        box-shadow: 0 0 25px 1px lightgray;
        cursor: pointer;
    }
    .alert {
        margin-top: 15px;
        border: 0;
        display: none;
    }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}
